<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultConnection" value="Data Source=DESKTOP-LBS7186\SQLEXPRESS;Initial Catalog=textdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" />
	</appSettings>
</configuration>